<div class="container">

  <nav class="h-NavBar">
      <img src="../assets/carwale-vector-logo.png" alt="Tata" width="200" height="70"> <br>
      <ul class="dropdown">
<button>NEW CARS</button>
        <div class="dropdown-content">
        <li><a href="#"> CAR LOANS</a></li>
        <li><a href="#">FIND NEW CARS</a></li>
        <li><a href="#">COMPARE CARS</a></li>
        <li><a href="#">FIND DEALERS</a></li>
        <li><a href="#">NEW LAUNCH</a></li>
        </div>
      </ul>
      <br>

      <ul class="dropdown">
 <button>USED CARS</button>
        <div class="dropdown-content">
        <li><a href="#">FIND USED CARS</a></li>
        <li><a href="#">EXPLORE CARS</a></li>
        <li><a href="#">INSURANCE</a></li>
        <li><a href="#">CHECK CAR VALUE</a></li>
        <li><a href="#">SELL YOUR CAR</a></li>
        </div>
      </ul>

      <ul class="dropdown" style="float: right;padding-right: 20px;">
        <h1>REVIEWS</h1>
        <div class="dropdown-content">
        <li><a href="#">NEWS</a></li>
        <li><a href="#">USER REVIEWS</a></li>
        <li><a href="#">IMAGES</a></li>
        <li><a href="#">VIDEOS</a></li>
        <li><a href="#">FORMS</a></li>
        </div>
      </ul>
      <br>

  </nav>

  <div>
    <app-tata-nexon></app-tata-nexon> 
  </div>

</div>